<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/do" method="post">
    <div class="input">
        <input :class="{hasvalue : loginFrom.Username}" v-model="loginFrom.Username" type="text" name="username" id="loginUsername">
        用户名
    </div>
    <div class="input">
        <input :class="{hasvalue : loginFrom.Password}" v-model="loginFrom.Password" type="text" name="password" id="loginPassword">
      密码
    </div>
    <button>登录</button>
</form>
</body>
</html>