<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 生产环境版本，优化了尺寸和速度 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="../static/css/demo.css">
  <link rel="stylesheet" href="../static/css/alogin.css">
</head>
<body>
    <div id="app" style="height: 100%">
      <!-- 外部容器 -->
      <el-container>
        <!-- 侧栏容器 -->
        <el-aside width="200px" class="daohang">
          <!-- 导航栏 -->
          <el-menu
          default-active="1"
          class="el-menu-vertical-demo"
          @open="handleOpen"
          @close="handleClose">
          <el-menu-item index="1">
            <template slot="title">
              <i class="el-icon-location"></i>
              <span>个人信息</span>
            </template>
          </el-menu-item>
            <a href="/user/changeInfo"><el-menu-item index="2" >
              <template slot="title">
                <i class="el-icon-user"></i>
                <span>修改账号</span>
              </template>
            </el-menu-item>
            </a>
            <a href="/user/mybook">
            <el-menu-item index="3">
            <template slot="title">
              <i class="el-icon-reading"></i>
              <a href="/user/book"><span>我的图书</span></a>
            </template>
          </el-menu-item>
            </a>
          <el-submenu index="4">
            <template slot="title">
              <i class="el-icon-school"></i>
              <span>我的帖子</span>
            </template>
            <el-menu-item-group>
              <a href="/user/myCommodity?type=run"><el-menu-item index="4-1">我的跑腿</el-menu-item></a>
              <a href="/user/myCommodity?type=sold"><el-menu-item index="4-2">我的闲置</el-menu-item></a>
              <a href="/user/sendCommodity"><el-menu-item index="4-3">发布帖子</el-menu-item></a>
            </el-menu-item-group>
          </el-submenu>
        </el-menu>
        </el-aside>
        <el-container>
          <!-- 顶栏容器 -->
          <el-header>
            <el-row>
              <el-col :span="20"><div class="grid-content bg-purple">
                <h1 align="center">渝教育 个人中心</h1>
              </div></el-col>
              <el-col :span="4"><div class="grid-content bg-purple-light">
                <!-- 头像 -->
                <template>
                  <div class="demo-type">
                    <div>
                      <el-avatar src="https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png"></el-avatar>
                      <el-dropdown trigger="click">
                        <span class="el-dropdown-link">
                          <i class="el-icon-arrow-down el-icon--right"></i>
                        </span>
                        <el-dropdown-menu slot="dropdown">
                          <a href="/index"><el-dropdown-item icon="el-icon-refresh-left">返回主页</el-dropdown-item></a>
                          <a href="/logout"><el-dropdown-item icon="el-icon-close">退出登录</el-dropdown-item></a>
                        </el-dropdown-menu>
                      </el-dropdown>
                    </div>
                  </div>
                </template>
              </div></el-col>
            </el-row>
          </el-header>
          <!-- 主要内容容器 -->
          <el-main >
            <template >

              <el-descriptions style="margin-top: 50px;margin-left: 300px"  :column="1" :size="size" border>
                <template slot="extra">
                </template>
                <el-descriptions-item>
                  <template slot="label">
                    <i class="el-icon-user"></i>
                    姓名
                  </template>
                  {{this.user.name}}
                </el-descriptions-item>
                <el-descriptions-item>
                  <template slot="label">
                    <i class="el-icon-user"></i>
                    学号
                  </template>
                  {{this.user.sid}}
                </el-descriptions-item>
                <el-descriptions-item>
                  <template slot="label">
                    <i class="el-icon-user"></i>
                    性别
                  </template>
                  {{this.user.sex}}
                </el-descriptions-item>
                <el-descriptions-item>
                  <template slot="label">
                    <i class="el-icon-mobile-phone"></i>
                    手机号
                  </template>
                  18100000000
                </el-descriptions-item>
                <el-descriptions-item>
                  <template slot="label">
                    <i class="el-icon-location-outline"></i>
                    年龄
                  </template>
                  {{this.user.age}}
                </el-descriptions-item>
                <el-descriptions-item>
                  <template slot="label">
                    <i class="el-icon-location-outline"></i>
                    年级
                  </template>
                  {{this.user.grade}}
                </el-descriptions-item>
                <el-descriptions-item>
                  <template slot="label">
                    <i class="el-icon-location-outline"></i>
                    专业
                  </template>
                  {{this.user.major}}
                </el-descriptions-item>
                <el-descriptions-item>
                  <template slot="label">
                    <i class="el-icon-location-outline"></i>
                    寝室号
                  </template>
                  {{this.user.room}}
                </el-descriptions-item>
                <el-descriptions-item>
                  <template slot="label">
                    <i class="el-icon-office-building"></i>
                    联系地址
                  </template>
                  江苏省苏州市吴中区吴中大道 1188 号
                </el-descriptions-item>
              </el-descriptions>

            </template>

          </el-main>
        </el-container>
      </el-container>
    </div>
<script>
var Main = {
    mounted:function (){
    this.goTo()
    },
  data () {
    return {
      size: '',
      user:[
      ]
    };
  },
    methods: {
      handleOpen(key, keyPath) {
        console.log(key, keyPath);
      },
      handleClose(key, keyPath) {
        console.log(key, keyPath);
      },
      goTo(){
        axios({
          //请求方式
          method:'get',
          //后端接口路径
          url:'/api/user/getStudent',
          //注意这里使用的是params,该属性负责把属性名和属性值添加到url后面，一般和get配合使用，但也能    和post配合使用
        }).then((response) => {
          this.user=[];
            this.user = {
              sid: response.data.sid,
              name: response.data.sname,
              sex:response.data.sex,
              age:response.data.age,
              major:response.data.major,
              grade:response.data.grade,
              room:response.data.room,
            }
        }).catch((error) => {
          //对error进行处理
        });
      },
    },

  }
var Ctor = Vue.extend(Main)
new Ctor().$mount('#app')


</script>
    
</body>
</html>