<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 生产环境版本，优化了尺寸和速度 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="../static/css/demo.css">

</head>
<body>
    <div id="app" style="height: 100%">
      <!-- 外部容器 -->
      <el-container>
        <!-- 侧栏容器 -->
        <el-aside width="200px" class="daohang">
          <!-- 导航栏 -->
          <el-menu
          default-active="4"
          class="el-menu-vertical-demo"
          @open="handleOpen"
          @close="handleClose">
            <a href="/user/personInfo">
          <el-menu-item index="1">
            <template slot="title">
              <i class="el-icon-location"></i>
              <span>个人信息</span>
            </template>
          </el-menu-item>
              </a>
            <a href="/user/changeInfo">
              <el-menu-item index="2" >
              <template slot="title">
                <i class="el-icon-user"></i>
                <span>修改账号</span>
              </template>
            </el-menu-item>
            </a>
            <a href="/user/mybook">
            <el-menu-item index="3">
            <template slot="title">
              <i class="el-icon-reading"></i>
              <span>我的图书</span>
            </template>
          </el-menu-item>
            </a>
          <el-submenu index="4">
            <template slot="title">
              <i class="el-icon-school"></i>
              <span>我的帖子</span>
            </template>
            <el-menu-item-group>
              <a href="/user/myCommodity?type=run"><el-menu-item index="4-1">我的跑腿</el-menu-item></a>
              <a href="/user/myCommodity?type=sold"><el-menu-item index="4-2">我的闲置</el-menu-item></a>
             <el-menu-item index="4-3">发布帖子</el-menu-item>
            </el-menu-item-group>
          </el-submenu>
        </el-menu>
        </el-aside>
        <el-container>
          <!-- 顶栏容器 -->
          <el-header>
            <el-row>
              <el-col :span="20"><div class="grid-content bg-purple">
                <h1 align="center">渝教育 个人中心</h1>
              </div></el-col>
              <el-col :span="4"><div class="grid-content bg-purple-light">
                <!-- 头像 -->
                <template>
                  <div class="demo-type">
                    <div>
                      <el-avatar src="https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png"></el-avatar>
                      <el-dropdown trigger="click">
                        <span class="el-dropdown-link">
                          用户名<i class="el-icon-arrow-down el-icon--right"></i>
                        </span>
                        <el-dropdown-menu slot="dropdown">
                          <a href="/index"><el-dropdown-item icon="el-icon-refresh-left">返回主页</el-dropdown-item></a>
                          <a href="/logout"><el-dropdown-item icon="el-icon-close">退出登录</el-dropdown-item></a>
                        </el-dropdown-menu>
                      </el-dropdown>
                    </div>
                  </div>
                </template>
              </div></el-col>
            </el-row>
          </el-header>
          <!-- 主要内容容器 -->
          <el-main >
            <template >
              <div style="width: 900px;height: 1200px;position:absolute;top: 100px;left: 330px">
              <el-form ref="form" :model="form" label-width="80px" style="border-radius: 15px;width: 880px;border: whitesmoke 2px solid;">
                <el-form-item label="帖子标题" style="margin-top: 30px;margin-right: 30px">
                  <el-input v-model="form.ctitle"></el-input>
                </el-form-item>
                <el-form-item label="位置"style="margin-top: 30px;margin-right: 30px">
                  <el-col :span="6">
                  <el-select v-model="form.caddress" placeholder="请选择位置">
                    <el-option label="容园" value="容一">容一</el-option>
                    <el-option label="容园" value="容二">容二</el-option>
                    <el-option label="容园" value="容三">容三</el-option>
                    <el-option label="和园" value="和一">和一</el-option>
                    <el-option label="和园" value="和二">和二</el-option>
                    <el-option label="和园" value="和三">和三</el-option>
                  </el-select>
                  </el-col>
                </el-form-item>
                <el-form-item label="活动时间"style="margin-top: 30px;margin-right: 30px">
                  <el-col :span="11">
                    <el-date-picker type="date" placeholder="选择日期" v-model="form.ctime" style="width: 100%;"></el-date-picker>
                  </el-col>

                </el-form-item>
                <el-form-item label="金额"style="margin-top: 30px;margin-right: 30px">
                  <el-input v-model="form.cmoney"></el-input>
                </el-form-item>
                <el-form-item label="帖子类型"style="margin-top: 30px;margin-right: 30px">
                  <el-radio-group v-model="form.ctype">
                    <el-radio label="run" value="run"></el-radio>
                    <el-radio label="sold" value="sold"></el-radio>
                  </el-radio-group>
                </el-form-item>
                <el-form-item label="备注"style="margin-top: 30px;margin-right: 30px">
                  <el-input type="textarea" v-model="form.memo"></el-input>
                </el-form-item>
                <div>
                  <el-button @click="goTo" style="background-color: aqua">立即创建</el-button>
                </div>
              </el-form>
              </div>
            </template>

          </el-main>
        </el-container>
      </el-container>
    </div>
<script>
new Vue({
   el:"#app",
  data () {
    return {
      form: {
        ctime:'',
        ctype:'',
        cmoney:'',
        ctitle:'',
        caddress:'',
        memo:'',
      }
    }
  },
    methods: {
      handleOpen(key, keyPath) {
        console.log(key, keyPath);
      },
      handleClose(key, keyPath) {
        console.log(key, keyPath);
      },
      onSubmit() {
        console.log('submit!');
      },
      goTo(){
        axios({
          //请求方式
          method:'post',
          //后端接口路径
          url:'/api/commodity/sendCommodity',
          data:{
              cid:'',
              sid:'',
              ctime:this.form.ctime,
              ctype:this.form.ctype,
              cmoney:this.form.cmoney,
              isalive:1,
              ctitle:this.form.ctitle,
              memo:this.form.memo,
              caddress:this.form.caddress
          },
          //注意这里使用的是params,该属性负责把属性名和属性值添加到url后面，一般和get配合使用，但也能    和post配合使用
        }).then((response) => {
        }).catch((error) => {
          //对error进行处理
        });
      },
    },

  }
);


</script>
    
</body>
</html>